.header {

    font-size: 40px;
    font-weight: 700;
    font-display: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}

h3 {
    padding-bottom: 1rem;
}
.container {
    float:left;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}

#psychic {
    float: right;
    margin-right: 35rem;
    margin-top: 1rem;
    
    

}
